// Style blocks

%firs-head
    font-size: 2.22em

%sec-head
    margin: $c-slide-head-mt 0 $c-slide-head-mb
    font-size: 2em
    text-align: center

%thir-head
    width: 96%
    margin: 1em 0 .5em 4%
    font-size: 1.875em

%slide-text
    font-size: 1.625em
    text-align: justify

%flex-col-fs
    display: flex
    flex-direction: column
    justify-content: flex-start

%flex-col-cen
    display: flex
    flex-direction: column
    justify-content: center