/* Main container */
    
.content
    @extend %flex-col-fs
    align-items: center
    background-color: bgColor(content)

/* Greeting slide */

.greet-slide
    @extend %flex-col-cen
    align-items: center
    width: 100%
    height: 100vh
    background: bgColor(greet) url(../img/laptop2@2x.jpg) no-repeat center/cover

    & .slide__head
        order: 1
        margin-top: 0
        color: txtColor(greet)

.slide__head
    @extend %sec-head

.greeting

    &-whoami
        margin: 0
        @extend %firs-head
        order: 2
        color: txtColor(greet)

        &::before
            content: "Я - "
    
    &-text
        order: 3
        @extend %main-text
        text-align: center
        color: txtColor(greet)

/* Resume slide */

.resume

    &-slide
        width: $res-w
        background-color: bgColor(resume)

    &-cont
        @extend %flex-col-fs
        align-items: center

    &-person, &-profile, &-education, &-experience, &-details, &-skills, &-languages, &-hobbies
        width: $res-sec-w

    &-person
        @extend %flex-col-cen
        align-items: flex-start
        flex-wrap: wrap
        align-content: center
        height: 200px

    &-person &__head
        width: $per-head-w
        margin-top: 0
        order: 2

    &-education
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-wrap: wrap
        align-content: flex-start

    &-experience
        @extend .resume-education
        justify-content: center

    &-experience &-item
        width: $exp-res-item-w

    &__head
        @extend %thir-head

    &__text
        width: $res-text-w
        margin: 0 auto
        @extend %main-text

/* Resume personal info */

.person

    &-spec, &-loc
        @extend %main-text

    &-spec
        order: 3

    &-loc
        order: 4

    &-photo
        order: 1
        margin-right: $per-photo-mr
        border-radius: 50%

/* Resume education info */

.resume-item
    width: $edu-res-item-w
    padding: $res-item-p
    background-color: bgColor(lgray)
    text-align: center

    &__head
        margin: 0
        
    &__dur
        display: inline-block
        margin-bottom: .5em

    & .resume__text
        width: $res-item-txt-w

/* Resume details info */

.details

    &-contacts
        display: flex
        justify-content: space-around
        align-items: center
        width: $det-res-contacts-w
        padding: $det-res-contacts-p

    &-birth
        margin: $det-res-birth-m
        text-align: center

/* Resume skills info */

.main-skills
    @extend %flex-col-cen
    align-items: flex-start
    flex-wrap: wrap
    align-content: space-around
    height: $skl-res-main-cont-h

.progress
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    width: $skl-res-prog-w
    margin: $skl-res-prog-m

    &::after
        position: absolute
        color: white
        top: 5px

    &__name
        width: $skl-res-prog-name-w
        padding: $skl-res-prog-name-p
        text-align: center
        color: txtColor(yellow)
        background-color: lighten(gray, 5)
        border-radius: 5px
        border-top-left-radius: 14px
        border-bottom-left-radius: 14px

    &__bar_html5
        width: $skl-res-prog-bar-5-w
        height: $skl-res-prog-bar-5-h
        margin-left: $skl-res-prog-bar-5-ml
        border: none
        border-radius: 10px
        background-color: lighten(green, 10)
        -webkit-appearance: none
        -moz-appearance: none

        &::-webkit-progress-bar
            background-color: lighten(green, 10)
            border: none
            border-radius: 10px

        &::-webkit-progress-value
            background-color: green
            border: none
            border-radius: 10px

        &::-moz-progress-bar
            background-color: green
            border: none
            border-radius: 10px

        &::-ms-fill
            background-color: green
            border: none
            border-radius: 10px

    &:first-child::after
        content: "#{$skl-res-html-perc}%"
        right: $skl-res-html-perc-pos

    &:nth-child(2)::after
        content: "#{$skl-res-css-perc}%"
        right: $skl-res-css-perc-pos

    &:nth-child(3)::after
        content: "#{$skl-res-js-perc}%"
        right: $skl-res-js-perc-pos

    &:last-child::after
        content: "#{$skl-res-jquery-perc}%"
        right: $skl-res-jquery-perc-pos

.other-skills
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    align-content: flex-start
    margin-top: $skl-res-oth-cont-mt

.skill-item
    position: relative
    margin-right: $skl-res-item-mr

    &__name
        display: inline-block
        padding: $skl-res-item-name-p
        background-color: bgColor(lgray)
        border-radius: 5px

    &__desc
        position: absolute
        z-index: 2
        top: $skl-res-item-desc-pos-t
        width: $skl-res-item-desc-w
        padding: $skl-res-item-desc-p
        text-align: center
        background-color: gray
        border-radius: 50px
        visibility: hidden

    &:hover &__desc
        visibility: visible

    &:last-child
        margin-right: 0

    &:first-child > &__desc
        left: $skl-res-item-desc1-pos-l

    &:nth-child(2) > &__desc
        left: $skl-res-item-desc2-pos-l

    &:nth-child(3) > &__desc
        left: $skl-res-item-desc3-pos-l

    &:nth-child(4) > &__desc
        left: $skl-res-item-desc4-pos-l

    &:last-child > &__desc
        left: $skl-res-item-desc5-pos-l

/* Resume languages info */

.languages
    display: flex
    justify-content: space-around
    align-items: flex-start

    &-desc
        width: $lang-res-desc-w
        margin: $lang-res-desc-m
        padding: $lang-res-desc-p
        background-color: gray

    & > .progress
        display: flex
        justify-content: flex-start
        align-items: center
        flex-wrap: wrap
        align-content: flex-start 

        &:first-child::after
            content: "#{$lang-res-rus-perc}%"
            right: $lang-res-rus-perc-pos

        &:last-child::after
            content: "#{$lang-res-eng-perc}%"
            right: $lang-res-eng-perc-pos

.hobbies-list
    display: flex
    justify-content: flex-start
    align-items: center
    padding-left: 0

    &__item
        @extend .skill-item__name
        margin-right: $hobb-res-item-mr
        list-style-type: none

        &:last-child
            margin-right: 0

/* Portfolio slide */

.tech-list
    @extend .other-skills
    width: 100%
    padding-left: 0

    &__item
        @extend .skill-item
        list-style-type: none

    &__link
        @extend .skill-item__name
        color: txtColor(yellow)
        text-decoration: none

.portfolio

    &-slide
        @extend %flex-col-cen
        align-items: center
        width: $port-w
        background-color: lighten(yellow, 25)

    &-cont
        display: flex
        justify-content: center
        align-items: flex-start
        flex-wrap: wrap
        align-content: flex-start
        width: $port-cont-w

    &-project
        position: relative
        @extend %flex-col-fs
        align-items: center
        box-sizing: border-box
        width: $port-proj-w
        height: $port-proj-h
        margin: $port-proj-m
        padding: $port-proj-p
        background-color: bgColor(lgray)

        &:nth-child(4), &:nth-child(6)
            margin-right: 0

.project

    &__name
        margin: $port-proj-name-m
        text-align: center

    &__info
        position: absolute
        bottom: $port-proj-btn-pos-b

/* Contacts-slide */

.contacts

    &-slide
        width: $conts-w
        background-color: lighten(red, 25)

    &-cont
        @extend %flex-col-fs
        align-items: center

.contact

    &-msg
        width: $conts-msg-w
        text-align: center

    &-form
        @extend %flex-col-fs
        align-items: center
        width: $conts-form-w

    &-socials
        display: flex
        justify-content: space-around
        align-items: center
        width: $conts-soc-w
        margin: $conts-soc-m


.form

    &__name, &__email, &__msg, &__label
        box-sizing: border-box
        width: 100%

    &__label
        margin: $conts-form-lab-m

        &:first-child
            margin-top: 0

    &__msg
        height: $conts-form-msg-h
        resize: vertical

    &__submit
        margin-top: $conts-form-sub-mt