/* Main container */
    
.content
    @extend %flex-col-fs
    align-items: center

/* Greeting slide */

.greet-slide
    @extend %flex-col-cen
    align-items: center
    width: 100%
    height: 100vh
    background: txtColor(gray) url(https://via.placeholder.com/1920x1080) no-repeat center/cover

    & .slide__head
        order: 1
        margin-top: 0

.slide__head
    @extend %sec-head

.greeting

    &-whoami
        margin: 0
        @extend %firs-head
        order: 2

        &::before
            content: "Я - "
    
    &-text
        order: 3
        @extend %slide-text
        text-align: center

/* Resume slide */

.resume

    &-slide
        width: $res-w
        background-color: bgColor(resume)

    &-cont
        @extend %flex-col-fs
        align-items: center

    &-person, &-profile, &-education, &-experience, &-details, &-skills, &-languages, &-hobbies
        width: $res-sec-w

    &-person
        @extend %flex-col-cen
        align-items: flex-start
        flex-wrap: wrap
        align-content: center
        height: 200px

    &-person &__head
        width: $per-head-w
        margin-top: 0
        order: 2

    &-education
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-wrap: wrap
        align-content: flex-start

    &-experience
        @extend .resume-education
        justify-content: center

    &-experience &-item
        width: $exp-res-item-w

    &__head
        @extend %thir-head

    &__text
        width: $res-text-w
        margin: 0 auto
        @extend %slide-text

/* Resume personal info */

.person

    &-spec, &-loc
        @extend %slide-text

    &-spec
        order: 3

    &-loc
        order: 4

    &-photo
        order: 1
        margin-right: $per-photo-mr
        border-radius: 50%

/* Resume education info */

.resume-item
    width: $edu-res-item-w
    padding: $res-item-p
    background-color: bgColor(lgray)
    text-align: center

    &__head
        margin: 0
        
    &__dur
        display: inline-block
        margin-bottom: .5em

    & .resume__text
        width: $res-item-txt-w

/* Resume details info */

.details

    &-contacts
        display: flex
        justify-content: space-around
        width: $det-res-contacts-w
        padding: $det-res-contacts-p

    &-birth
        margin: $det-res-birth-m
        text-align: center