// Text colors
$text-colors: (black: black, yellow: yellow)

// Background colors
$bg-colors: (gray: gray, lgray: lighten(gray, 10))

// Header vars
// m - for margin
// p - for padding
// trlb - for direction (top, right, left, bottom)
// hov - for :hover
$h-menu-w: 40%
$h-menu-list-m: 30px 5% 20px 0
$h-menu-item-m: 0 2% 0 0
$h-menu-link-p: 10px 25px
$h-menu-link-pb_hov: 8px