// w - for width
// h - for height
// m - for margin
// p - for padding
// pos - for positioning 
// trlb - for direction (top, right, left, bottom)
// hov - for :hover

// Text colors
$text-colors: (black: black, yellow: yellow)

// Background colors
$bg-colors: (gray: gray, lgray: lighten(gray, 10), resume: lighten(green, 50), green: green)

// Header vars
$h-menu-w: 40%
$h-menu-list-m: 30px 5% 20px 0
$h-menu-item-m: 0 2% 0 0
$h-menu-link-p: 10px 25px
$h-menu-link-pb_hov: 8px

// Container vars
$c-slide-head-mb: .5em
$c-slide-head-mt: $c-slide-head-mb * 2

// Resume slide
$res-w: 75%
$res-sec-w: $res-w
$res-text-w: $res-w - 5%

// Resume-person
$per-head-w: 50%
$per-photo-mr: 8%

// Resume-education
$edu-res-item-w: 40%
$res-item-p: 1em
$res-item-txt-w: 80%

// Resume-experience
$exp-res-item-w: $res-text-w

// Resume-details
$det-res-contacts-w: 100%
$det-res-contacts-p: .5em 0
$det-res-birth-m: .5em 0

// Resume-skills

// Main skills cont
$skl-res-main-cont-h: 90px

// Progress cont
$skl-res-prog-w: 400px
$skl-res-prog-m: .4em 0

// Progress name
$skl-res-prog-name-w: 100px
$skl-res-prog-name-p: 5px 20px 5px 10px

// Progress bar html5
$skl-res-prog-bar-5-w: 290px
$skl-res-prog-bar-5-h: 20px
$skl-res-prog-bar-5-ml: -20px

// Percentages from html
$skl-res-html-perc: 70
$skl-res-css-perc: 60
$skl-res-js-perc: 35
$skl-res-jquery-perc: 30

// Progress bar percentages positioning
$skl-res-html-perc-pos: $skl-res-prog-bar-5-w * (1 - $skl-res-html-perc / 100) + 5px
$skl-res-css-perc-pos: $skl-res-prog-bar-5-w * (1 - $skl-res-css-perc / 100) + 5px
$skl-res-js-perc-pos: $skl-res-prog-bar-5-w * (1 - $skl-res-js-perc / 100) + 5px
$skl-res-jquery-perc-pos: $skl-res-prog-bar-5-w * (1 - $skl-res-jquery-perc / 100) + 5px

// Other skills cont
$skl-res-oth-cont-mt: 20px

// Skill-item
$skl-res-item-mr: 10px

// Skill-item name
$skl-res-item-name-p: 8px

// Skill-item desc
$skl-res-item-desc-pos-t: 25px
$skl-res-item-desc-w: 300px
$skl-res-item-desc-p: $skl-res-item-name-p

// Skill-item desc positioning
$skl-res-item-desc1-pos-l: -($skl-res-item-desc-w + 2 * $skl-res-item-name-p - 115px) / 2
$skl-res-item-desc2-pos-l: -($skl-res-item-desc-w + 2 * $skl-res-item-name-p - 56px) / 2
$skl-res-item-desc3-pos-l: -($skl-res-item-desc-w + 2 * $skl-res-item-name-p - 68px) / 2
$skl-res-item-desc4-pos-l: -($skl-res-item-desc-w + 2 * $skl-res-item-name-p - 90px) / 2
$skl-res-item-desc5-pos-l: -($skl-res-item-desc-w + 2 * $skl-res-item-name-p - 65px) / 2

// Resume-languages

// Languages description
$lang-res-desc-w: 100%
$lang-res-desc-m: .4em 0
$lang-res-desc-p: 5px

// Percentages from html
$lang-res-rus-perc: 85
$lang-res-eng-perc: 50

// Progress bar percentages positioning
$lang-res-rus-perc-pos: $skl-res-prog-bar-5-w * (1 - $lang-res-rus-perc / 100) + 5px
$lang-res-eng-perc-pos: $skl-res-prog-bar-5-w * (1 - $lang-res-eng-perc / 100) + 5px

// Resume-hobbies

// Hobby
$hobb-res-item-mr: $skl-res-item-mr

// Portfolio slide
$port-w: $res-w

// Portofio cont
$port-cont-w: 75%

// Portfolio project
$port-proj-w: 310px
$port-proj-h: 250px
$port-proj-m: 0 25px 25px 0
$port-proj-p: 40px 40px 0 40px

// Portfolio project name
$port-proj-name-m: 0 0 .2em

// Portfolio project btn
$port-proj-btn-pos-b: 25px

// Contacts slide
$conts-w: $res-w

// Contacts message
$conts-msg-w: 50%

// Contacts form
$conts-form-w: 30%
$conts-form-lab-m: 12px 0 3px 15px
$conts-form-msg-h: 175px
$conts-form-sub-mt: 12px

// Contacts socials
$conts-soc-w: 30%
$conts-soc-m: 20px 0 25px