// Text colors
$text-colors: (black: black, yellow: yellow)

// Background colors
$bg-colors: (gray: gray, lgray: lighten(gray, 10), resume: lighten(green, 50))

// Header vars
// w - for width
// m - for margin
// p - for padding
// trlb - for direction (top, right, left, bottom)
// hov - for :hover
$h-menu-w: 40%
$h-menu-list-m: 30px 5% 20px 0
$h-menu-item-m: 0 2% 0 0
$h-menu-link-p: 10px 25px
$h-menu-link-pb_hov: 8px

// Container vars
$c-slide-head-mb: .5em
$c-slide-head-mt: $c-slide-head-mb * 2

// Resume slide
$res-w: 75%
$res-sec-w: $res-w
$res-text-w: $res-w - 5%

// Resume-person
$per-head-w: 50%
$per-photo-mr: 8%

// Resume-education
$edu-res-item-w: 40%
$res-item-p: 1em
$res-item-txt-w: 80%

// Resume-experience
$exp-res-item-w: $res-text-w

// Resume-details
$det-res-contacts-w: 100%
$det-res-contacts-p: .5em 0
$det-res-birth-m: .5em 0