section.greet-slide
    h2.slide__head Приветствую, гость!
    p.greeting-text.
        Я Анатолий Бобров.
        Пока еще начинающий фронтенд разработчик,
        но с далеко идущими планами,
        чтобы стать Профессионалом!