section.resume-slide
    h2.slide__head Резюме
    .slide__cont
        section.resume-person
            h2.person-name Анатолий Бобров
            span.person-spec Начинающий фронтэнд разработчик
            span.person-loc Москва, Россия
            img.person-photo.(src="https://via.placeholder.com/200x400" alt="Фотография" title="Начинающий фронтэндер" width="200px" height="300px")