-
    var eduList = [
        {
            institution: 'ФГАОУ ВО &laquo;УрФУ имени первого Президента России Б.Н.Ельцина&raquo;',
            duration: 'Сентябрь, 2010 - Июль, 2015',
            description: 'Высшее образование в области конструирования высоковольтных электронных и электрических аппаратов.'
        },
        {
            institution: 'geekbrains.com',
            duration: 'Апрель, 2018 - Настоящее время',
            description: 'Онлайн курсы по HTML5&CSS3, JS, Базы данных, PHP. На текущий момент изучаю базы данных и серверное программирование на PHP.'
        }
    ];

    var expList = [
        {
            organization: 'Место для названия вашей организации',
            duration: 'Могу начать прямо здесь и сейчас',
            description: 'На текущий момент не имею опыта работы, которым мог бы похвастаться. Возможно именно вы можете стать моим первым работодателем. Готов к труду и обороне!'
        }
    ];

    var mainSkills = [
        {
            name: 'HTML',
            value: 80
        },
        {
            name: 'CSS',
            value: 70
        },
        {
            name: 'JS',
            value: 35
        },
        {
            name: 'JQuery',
            value: 30
        }
    ];

    var otherSkills = [
        {
            name: 'Sass/Scss, Less',
            description: 'Умею в миксины, синтаксис, функции. <b>Уровень: Уверенный</b>.'
        },
        {
            name: 'Pug.js',
            description: 'Умею в миксины, синтаксис и циклы. <b>Уровень: Начинающий++</b>.'
        },
        {
            name: 'Grunt.js',
            description: 'Умею в сборку проекта, минификации html/css/js/img/svg, создание svg-спрайтов, проверку валидности html/css. <b>Уровень: Начинающий++</b>.'
        },
        {
            name: 'Webpack.js',
            description: 'Умею в создание html по собственному шаблону, использование загрузчиков и плагинов. <b>Уровень: Начинающий</b>.'
        },
        {
            name: 'Node.js',
            description: 'Умею в установку пакетов. <b>Уровень: Начинающий-</b>.'
        }
    ];

    var languages = [
        {
            name: 'Русский',
            value: 85
        },
        {
            name: 'Английский',
            value: 50
        }
    ];

    var hobbies = [
        'Видеоигры',
        'Программирование',
        'Фитнес'
    ];

article.resume-slide
    h2.slide__head Резюме
    .resume-cont
        section.resume-person
            h3.resume__head Анатолий Бобров
            span.person-spec Начинающий фронтенд разработчик
            span.person-loc Москва, Россия
            img.person-photo(src="https://via.placeholder.com/200x200" alt="Фотография" title="Начинающий фронтендер" width="200px" height="200px")
        section.resume-profile
            h3.resume__head Обо мне
            p.resume__text.
                That raven floor uncertain ever lies then mefilled grave thy shore.
                And back this seraphim evilprophet is,
                chamber sent peering the shore ease from nightly devil,
                radiant or the thereis token whether,
                of for lenore some name. Lore upon i.
        section.resume-education
            h3.resume__head Образование
            each item in eduList
                +resumeItem(item.institution, item.duration, item.description)
        section.resume-experience
            h3.resume__head Опыт работы
            each item in expList
                +resumeItem(item.organization, item.duration, item.description)
        section.resume-details
            h3.resume__head Подробнее
            address.details-contacts
                span.details-loc м.Пролетарская, м.Крестьянская застава, м.Волгоградский проспект, г.Москва, Россия
                span.details-tel +7(926)69-52-475
                a.details-email(href="mailto:anatoleybobrov@gmail.com") AnatoleyBobrov@gmail.com
            p.details-birth.
                <span class="birth-head">Дата / Место рождения</span>
                16/03/1993
                Качканар, Россия
        section.resume-skills
            h3.resume__head Навыки
            .main-skills
                each item in mainSkills
                    +progressBar(item.name, item.value)
            .other-skills
                each item in otherSkills
                    +otherSkills(item.name, item.description)
        section.resume-languages
            h3.resume__head Языки
            each item, idx in languages
                +progressBar(item.name, item.value)
                - if (idx === 1)
                    span.languages-desc
                        | Умею в чтение технической документации,
                        | составление простых предложений.
                        | Сложности возникают при выборе правильного времени в заданном контексте.
                        | Подтягиваю свои знания на Englishdom.com.
        section.resume-hobbies
            h3.resume__head Увлечения
            ul.hobbies-list
                each item in hobbies
                    li= item