section.greet-slide
    h1.greeting-whoami Анатолий Бобров
    h2.slide__head Приветствую, гость!
    p.greeting-text.
        Начинающий фронтенд разработчик<br>
        с далеко идущими планами, чтобы стать Профессионалом!