-
    var eduList = [
        {
            institution: 'ФГАОУ ВО &laquo;УрФУ имени первого Президента России Б.Н.Ельцина&raquo;',
            duration: 'Сентябрь, 2010 - Июль, 2015',
            description: 'Высшее образование в области конструирования высоковольтных электронных и электрических аппаратов.'
        },
        {
            institution: 'geekbrains.com',
            duration: 'Апрель, 2016 - Текущее время',
            description: 'Онлайн курсы по HTML5&CSS3, JS, Базы данных, PHP. На текущий момент изучаю базы данных и серверное программирование на PHP.'
        }
    ];

    var expList = [
        {
            organization: 'Место для названия вашей организации',
            duration: 'Могу начать прямо здесь и сейчас',
            description: 'На текущий момент не имею опыта работы, которым мог бы похвастаться. Возможно именно вы можете стать моим первым работодателем. Готов к труду и обороне!'
        }
    ]

section.resume-slide
    h2.slide__head Резюме
    .slide__cont
        section.resume-person
            h2.person-name Анатолий Бобров
            span.person-spec Начинающий фронтэнд разработчик
            span.person-loc Москва, Россия
            img.person-photo(src="https://via.placeholder.com/200x400" alt="Фотография" title="Начинающий фронтэндер" width="200px" height="300px")
        section.resume-profile
            h2.resume__head Профиль
            p.resume__text.
                That raven floor uncertain ever lies then mefilled grave thy shore.
                And back this seraphim evilprophet is,
                chamber sent peering the shore ease from nightly devil,
                radiant or the thereis token whether,
                of for lenore some name. Lore upon i.
        section.resume-education
            h2.resume__head Образование
            each item in eduList
                +resumeItem(item.institution, item.duration, item.description)
        section.resume-experience
            h2.resume__head Опыт работы
            each item in expList
                +resumeItem(item.organization, item.duration, item.description)