section.resume-slide
    h2.slide__head Резюме
    .slide__cont
        section.resume-person
            h2.person-name Анатолий Бобров
            span.person-spec Начинающий фронтэнд разработчик
            span.person-loc Москва, Россия
            img.person-photo.(src="https://via.placeholder.com/200x400" alt="Фотография" title="Начинающий фронтэндер" width="200px" height="300px")
        section.resume-profile
            h2.resume__head Профиль
            p.resume__text.
                That raven floor uncertain ever lies then mefilled grave thy shore.
                And back this seraphim evilprophet is,
                chamber sent peering the shore ease from nightly devil,
                radiant or the thereis token whether,
                of for lenore some name. Lore upon i.