-
    var menuList = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Резюме',
            link: '#'
        },
        {
            name: 'Портфолио',
            link: '#'
        },
        {
            name: 'Контакты',
            link: '#'
        }
    ]

nav.menu
    ul.menu-list
        each item in menuList
            +listItem(item.link, item.name, 'menu-list')