include mixins.pug

doctype html
html(lang="en")
    include head.pug
    body
        include header.pug
        main.content
            include cont-greeting.pug
            include cont-resume.pug
            include cont-portfolio.pug
            include cont-contacts.pug
        include footer.pug