doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{htmlWebpackPlugin.options.title}
    body
        header.header
            nav.menu
                ul.menu__list
                    li.menu__item
                        a.menu__link(href="#") Home
                    li.menu__item
                        a.menu__link(href="#") Resume
                    li.menu__item
                        a.menu__link(href="#") Portfolio
                    li.menu__item
                        a.menu__link(href="#") Contact