-
    var menuList = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Резюме',
            link: '#'
        },
        {
            name: 'Портфолио',
            link: '#'
        },
        {
            name: 'Предложения',
            link: '#'
        }
    ]

mixin menuItem(href, name)
    li.menu__item
        a.menu__link(href=href)= name

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{htmlWebpackPlugin.options.title}
    body
        header.header
            nav.menu
                ul.menu__list
                    each item in menuList
                        +menuItem(item.link, item.name)
        main.content
            section.greet-slide
                h1 Hello there, fella!
                p.
                    My name is Anatoliy Bobrov.
                    And i'm just a begginer, but
                    wannabe a proffesional
                    Frontend developer!